<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngFor="let isiFoto of fotoService.dataFoto; index as position">
    <ion-card>
      <ion-card-header >
        <ion-img [src]="isiFoto.webviewPath"></ion-img>
      </ion-card-header>
    </ion-card>
    <ion-button color='primary' shape="round" size="medium" (click)="uploadFoto()">Upload</ion-button>
  </div>
  
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="TambahFoto()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
